
.white-fluid{
  background-color:#F7F7F7;
  text-align: center;
  padding:1%;
}

.whitedivision {
  width: 100%;
  height: 50px;
  background-color :#F7F7F7;
}

.spec{
  background-color :#788E82;
  width: 100%;
}

.division {
  width: 100%;
  height: 50px;
  background-color :#788E82;
}
.contactdivision{
  width: 100%;
  height: 50px;
  background-color :#8cb3d9;
}
.contact-fluid{
  background-color :#8cb3d9;
  
}

.rightdivision{
  width: 100%;
  height: 50px;
  background-color :#8cb3d9;
  color: #F7F7F7;
}

.responsive {
  width: 100%;
  max-width:300px;
  height: auto;
}

.container-fluid{
  background-color: #ecf0f9;
}


h1{
  font-family: 'Rubik', sans-serif;
  color:#8cb3d9;
  padding-left: 2%;
  padding-right:2%;
  font-size: 30px;
}

.h1design{
  font-family: 'Rubik', sans-serif;
  color:#8cb3d9;
  padding-top: 10%;
  font-size: 30px;
  padding-left: 2%;
  padding-right:2%;
  
}

.h1withoutpadding{
  font-family: 'Rubik', sans-serif;
  color:#8cb3d9;
  padding-top: 10%;

}
h2{
  font-family: 'Rubik', sans-serif;
  color: white;

}
p{
  font-family: 'Mukta', sans-serif;
  padding-left: 2%;
  padding-right:2%;

 
}

.specandpriceheader1{
  padding-left: 10%;
  font-family: 'Rubik', sans-serif;
  color:white;

}

.specandprice{
  font-family: 'Rubik', sans-serif;
  color:white;
  padding-inline-start: 10%;
  font-size: 20px;

}
header{
    font-family: 'Rubik', sans-serif;
    color:#8cb3d9;
    font-size:60px;
    padding-top:10%;
    padding-left: 2%;
}


img{max-width:50px;
  width: 80%;
  height: auto;}
  *{transition: all .5s ease;-moz-transition: all .5s ease;-webkit-transition: all .5s ease}
.my-list {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #f5efef; */
  float: left;
  margin: 15px 0;
  /* border-radius: 5px; */
  /* box-shadow: 2px 3px 0px #e4d8d8; */
  position:relative;
  overflow:hidden;
}
.my-list h3{
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 0px;
  padding: 0px;
  /* border-bottom: 1px solid #ccc4c4; */
  margin-bottom: 5px;
  padding-bottom: 5px;
  }
  .my-list span{float:left;font-weight: bold;}
  .my-list span:last-child{float:right;}
  .my-list .offer{
  width: 100%;
  float: left;
  margin: 5px 0;
  border-top: 1px solid #ccc4c4;
  margin-top: 5px;
  padding-top: 5px;
  color: #333333;
  }
