.spec{
    background-color :#8cb3d9;
    width: 100%;
}

.productcontainer {
    position: relative;
    text-align-last: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: #8cb3d9;
    font-size: 30px;

}

.division {
    width: 100%;
    height: 50px;
    background-color :#8cb3d9;
}

.responsive {
    width: 100%;
    max-width:300px;
    height: auto;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;

    float: left;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagebackground{
    width: 100%;
    position: relative;
    text-align: center;
}

#hungry {
    background:url('res/no1.webp') no-repeat center center ;
    background-size:cover;
    width:100%;
    padding-top:20%;
    padding-bottom:20%;
}
.container-fluid{
    background-color: #ecf0f9;
}
h1{
    font-family: 'Rubik', sans-serif;
    color:#8cb3d9;
}
h2{
    font-family: 'Rubik', sans-serif;
    color: white;
}
p{
    font-family: 'Rubik', sans-serif;
}
header{
    font-family: 'Rubik', sans-serif;
    color:#8cb3d9;
    font-size: 100px;
}